@import './variables.scss';

.about-container {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: -8rem;
	background-image: radial-gradient(
		125% 100vh at 50% 100vh,
		$black 75%,
		transparent 75%
	);

	#about {
		padding: 3.2rem;
	}

	.about-me {
		color: $white;
		font-size: 3rem;
		font-family: $bebas;
		letter-spacing: 0.25rem;
		max-width: 45%;
		margin-top: 16.5rem;
		margin-bottom: 2rem;

		img {
			max-width: 15rem;
			padding: 0.5rem;
			background-color: $yellow;
			border-radius: 50%;
			margin-top: 3rem;
		}

		path {
			color: $yellow;
			cursor: pointer;
			animation: bounce 0.5s infinite alternate;
		}

		@keyframes bounce {
			from {
				transform: translateY(0rem);
			}
			to {
				transform: translateY(2rem);
			}
		}

		p {
			font-family: $lato;
			font-size: 25px;
		}
	}
}

@media only screen and (max-width: 595px) {
	.about-container {
		background-image: radial-gradient(
			160% 98vh at 50% 100vh,
			$black 75%,
			transparent 75%
		);

		.about-me {
			font-size: 4rem;
			max-width: 90%;
			margin-top: 14rem;

			p {
				font-size: 20px;
			}
		}
	}
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}
