// FONTS
$azeret: 'Azeret Mono', monospace;
$bebas: 'bebas neue', sans-serif;
$lato: 'Lato', sans-serif;
$reg: 400;
$bold: 700;

// COLORS
$white: #f6f6f6;
$fadewhite: #f6f6f648;
$black: #1d1e1d;
$fadeblack: #1d1e1de4;
$slate: #3a616f;
$pink: #f16979;
$yellow: #fec859;

// TIMING
$speed: 0.5s;
