@import '../styles/variables.scss';

.stack-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25rem;
	position: absolute;
	margin-top: 270rem;

	.dev-stack {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		img {
			margin: 0 1rem;
			margin-top: 0rem;
			width: 4rem;
			height: 4rem;
		}

		#dev-stack {
			margin-left: 0;
		}
	}
	.design-stack {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 1rem;
		margin-bottom: 5rem;
		img {
			margin: 0 1rem;
			margin-top: 1rem;
			width: 4rem;
			height: 4rem;
		}
		#design-stack {
			margin-left: 0;
		}
	}

	h1 {
		color: $yellow;
		font-family: $bebas;
		font-size: 80px;
		margin: 2rem 0;
	}

	footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: $black;
		background-color: $yellow;
		width: 100%;
		height: 3rem;
		margin: 0;
		bottom: 0;
		position: absolute;
		z-index: 999;

		p {
			font-family: $bebas;
			font-size: 25px;
			margin: 0;
			margin-bottom: -0.25rem;
		}
	}
}

@media only screen and (max-width: 1300px) {
	.stack-container {
		margin-top: 314rem;
	}
}
@media only screen and (max-width: 990px) {
	.stack-container {
		margin-top: 310rem;
	}
	.design-stack {
		img {
			max-width: 3rem;
		}
	}

	.dev-stack {
		img {
			max-width: 3rem;
		}
	}
}
@media only screen and (max-width: 750px) {
	.stack-container {
		margin-top: 310rem;
	}
	.design-stack {
		img {
			max-width: 2rem;
		}
	}

	.dev-stack {
		img {
			max-width: 2rem;
		}
	}
}
@media only screen and (max-width: 450px) {
	.stack-container {
		h1 {
			font-size: 40px;
		}
		margin-top: 330rem;
	}
	.design-stack {
		img {
			max-width: 0.5rem;
		}
	}

	.dev-stack {
		img {
			max-width: 0.5rem;
		}
	}
}
